In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as scn

In [31]:
df=pd.read_csv("D:\des\project\electronics.csv")

In [32]:
df.shape

(1292954, 10)

In [33]:
df.head()

,item_id,user_id,rating,timestamp,model_attr,category,brand,year,user_attr,split
0,0,0,5.0,1999-06-13,Female,Portable Audio & Video,NaN,1999,NaN,0
1,0,1,5.0,1999-06-14,Female,Portable Audio & Video,NaN,1999,NaN,0
2,0,2,3.0,1999-06-17,Female,Portable Audio & Video,NaN,1999,NaN,0
3,0,3,1.0,1999-07-01,Female,Portable Audio & Video,NaN,1999,NaN,0
4,0,4,2.0,1999-07-06,Female,Portable Audio & Video,NaN,1999,NaN,0

In [34]:
df.tail()

,item_id,user_id,rating,timestamp,model_attr,category,brand,year,user_attr,split
1292949,9478,1157628,1.0,2018-09-26,Female,Headphones,Etre Jeune,2017,NaN,0
1292950,9435,1157629,5.0,2018-09-26,Female,Computers & Accessories,NaN,2017,NaN,0
1292951,9305,1157630,3.0,2018-09-26,Female,Computers & Accessories,NaN,2016,NaN,0
1292952,9303,1157631,5.0,2018-09-29,Male,Headphones,NaN,2018,NaN,0
1292953,9478,1157632,1.0,2018-10-01,Female,Headphones,Etre Jeune,2017,Female,0

In [35]:
df.columns

Index(['item_id', 'user_id', 'rating', 'timestamp', 'model_attr', 'category',
       'brand', 'year', 'user_attr', 'split'],
      dtype='object')

In [36]:
from datetime import datetime

pd.to_datetime(df['timestamp'])

0         1999-06-13
1         1999-06-14
2         1999-06-17
3         1999-07-01
4         1999-07-06
             ...
1292949   2018-09-26
1292950   2018-09-26
1292951   2018-09-26
1292952   2018-09-29
1292953   2018-10-01
Name: timestamp, Length: 1292954, dtype: datetime64[ns]

In [37]:
df["timestamp"]=pd.to_datetime(df["timestamp"])

In [38]:
df["rating"]=df["rating"].astype(float)

In [39]:
df["category"]=df["category"].astype(str)

In [40]:
df["model_attr"]=df["model_attr"].astype(str)

In [41]:
df["user_id"]=df["model_attr"].astype(str)

In [42]:
df["item_id"]=df["model_attr"].astype(str)

In [43]:
df["brand"]=df["brand"].astype(str)

In [44]:
df.dtypes

item_id               object
user_id               object
rating               float64
timestamp     datetime64[ns]
model_attr            object
category              object
brand                 object
year                   int64
user_attr             object
split                  int64
dtype: object

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1292954 entries, 0 to 1292953
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   item_id     1292954 non-null  object
 1   user_id     1292954 non-null  object
 2   rating      1292954 non-null  float64
 3   timestamp   1292954 non-null  datetime64[ns]
 4   model_attr  1292954 non-null  object
 5   category    1292954 non-null  object
 6   brand       1292954 non-null  object
 7   year        1292954 non-null  int64
 8   user_attr   174124 non-null   object
 9   split       1292954 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 98.6+ MB

In [46]:
pd.isnull(df)

,item_id,user_id,rating,timestamp,model_attr,category,brand,year,user_attr,split
0,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...
1292949,False,False,False,False,False,False,False,False,True,False
1292950,False,False,False,False,False,False,False,False,True,False
1292951,False,False,False,False,False,False,False,False,True,False
1292952,False,False,False,False,False,False,False,False,True,False
1292953,False,False,False,False,False,False,False,False,False,False

In [47]:
df.dropna(inplace=True)

In [48]:
pd.isnull(df).sum()

item_id       0
user_id       0
rating        0
timestamp     0
model_attr    0
category      0
brand         0
year          0
user_attr     0
split         0
dtype: int64

In [49]:
df.describe()

,rating,timestamp,year,split
count,174124.000000,174124,174124.000000,174124.000000
mean,4.210654,2015-07-28 14:50:51.949185536,2012.994200,0.356171
min,1.000000,1999-12-01 00:00:00,1999.000000,0.000000
25%,4.000000,2014-10-31 00:00:00,2012.000000,0.000000
50%,5.000000,2015-10-28 00:00:00,2014.000000,0.000000
75%,5.000000,2016-09-21 00:00:00,2015.000000,0.000000
max,5.000000,2018-10-01 00:00:00,2018.000000,2.000000
std,1.233787,NaN,2.563208,0.734872

In [50]:
df.nunique()

item_id          3
user_id          3
rating           5
timestamp     4552
model_attr       3
category        10
brand           51
year            20
user_attr        2
split            3
dtype: int64

In [53]:
df["rating"].value_counts()

rating
5.0    107593
4.0     30104
3.0     14593
1.0     12652
2.0      9182
Name: count, dtype: int64

In [55]:
# what was the best year of sales
df['year'] = pd.DatetimeIndex(df['timestamp']).year
df['year'].value_counts()

year
2015    46891
2016    43907
2014    25475
2017    24753
2013    12355
2018     8874
2012     4357
2011     2679
2010     1717
2009     1220
2008      834
2007      525
2006      196
2005      149
2004       87
2003       55
2002       26
2001       18
2000        5
1999        1
Name: count, dtype: int64

In [56]:
# what was the best month of sales

df['month'] = pd.DatetimeIndex(df['timestamp']).month

df['month'].value_counts()

month
1     18762
12    17134
2     15033
3     14853
8     14789
7     14439
11    13412
4     13359
5     13258
9     13155
6     12970
10    12960
Name: count, dtype: int64